version: '3.1'

services:
  postgres:
    build:
      context: ./backend/psql
      dockerfile: psql.Dockerfile
    volumes:
      - ./backend/psql/data:/var/lib/postgresql/data
    networks:
      - backend
  
  backend:
    build:
      context: ./backend/src-backend
      dockerfile: backend.Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      - postgres
    networks:
      - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: frontend.Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - backend

networks:
  backend:
    driver: bridge