version: '3.1'

services:
  postgres:
    build:
      context: ./psql
      dockerfile: psql.Dockerfile
    volumes:
      - ./psql/data:/var/lib/postgresql/data
    networks:
      - backend
  
  backend:
    build:
      context: ./src-backend
      dockerfile: backend.Dockerfile
    ports:
      - "3001:3001"
    depends_on:
      - postgres
    networks:
      - backend

networks:
  backend:
    driver: bridge