.book-card {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 16px;
	width: 200px; /* Her kartın genişliğini sabit tutar */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
	cursor: pointer;
}

.book-card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-card img {
	width: 100%;
	height: 250px;
	border-radius: 4px;
	margin-bottom: 16px;
}

.book-info {
	width: 100%;
	text-align: center;
}

.title {
	font-size: 16px;
	font-weight: bold;
	margin: 8px 0;
	/* Text overflow and ellipsis for long titles */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.price {
	font-size: 14px;
	color: #555;
	margin-bottom: 16px;
}

.buy {
	padding: 8px 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.buy:hover {
	background-color: #0056b3;
}
