.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background: rgba(135, 206, 250, 1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 32px;
	color: black;
	font-weight: 700;
}

.navbar a {
	text-decoration: none;
	position: relative;
	font-size: 18px;
	color: black;
	font-weight: 500;
	margin-left: 40px;
}

.navbar a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: rgba(0, 129, 255, 1);
	transition: .3s;
}

.navbar a:hover::before {
	width: 100%;
}