.search-bar {
	display: flex;
	align-items: center;
  }
  
  .search-input {
	width: 0;
	overflow: hidden;
	transition: width 0.3s ease;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,129,255,1);
}

.search-input.expanded {
	width: 150px;
	margin-left: 10px;
	padding-left: 8px;
  }
  
  .search-icon {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: rgb(0,129,255);
  }
  