.search-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
  }
  
  .search-input {
	width: 250px;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
  }
  