.book-details-container {
	display: flex;
	margin-top: 200px;
	flex-wrap: wrap;
	justify-content: center;
}

.book-details-0 {
	display: flex;
	width: 80%;
	height: 50%;
}

.book-image {
	flex: 1;
	max-width: 400px;
	margin-right: 20px;
}

.book-image img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.book-info {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.book-info h1 {
	margin-bottom: 10px;
}

.book-info p {
	margin: 5px 0;
}

.book-info .price {
	font-size: 1.2em;
	font-weight: 700;
	color: #ff4500;
}

.book-info .authors,
.book-info .pageCount,
.book-info .categories {
	font-size: 0.9em;
	color: #555;
}

.book-info button {
	margin-top: 20px;
	padding: 10px;
	background-color: #ff4500;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
}

.book-info button:hover {
	background-color: #e63900;
}

.book-description {
	margin-top: 20px;
	padding: 20px;
	border-top: 1px solid #ddd;
	font-size: 0.9em;
	color: #333;
}