.register-body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.wrapper-register {
	width: 420px;
	background: transparent;
	border: 2px solid rgba(0, 129, 255, .2);
	box-shadow: 0 0 10px rgba(0, 129, 255, .4);
	color: #000;
	border-radius: 10px;
	padding: 30px 40px;
}

.wrapper-register h1 {
	font-size: 36px;
	text-align: center;
}

.wrapper-register .input-box-register {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.input-box-register input {
	width: 100%;
	height: 100%;
	outline: none;
	border: 2px solid rgba(0, 129, 255, .2);
	border-radius: 40px;
	color: #000;
	padding: 20px 45px 20px 20px;
}

.input-box-register input::placeholder {
	color: #000;
}

.input-box-register .icon {
	position: absolute;
	right: 20px;
	top: 35%;
	transform: translate(-50%);
	font-size: 16px;
}

.wrapper-register button {
	width: 100%;
	height: 45px;
	background: #fff;
	border: none;
	outline: none;
	border-radius: 40px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 129, 255, .4);
	font-size: 16px;
	color: #333;
	font-weight: 700;
}